<% if @jobs.empty? %>

<h2>No Results Currently Found</h2>
<h2><%= link_to "Be the first to List Your Service In this Area", new_job_path %>



<% else %>

<%  @jobs.each do |job| %>



<%= link_to job.company, job_path(job) %>

<% end %>






<% end %> 