
<h1>Requests</h1>

<div class="row">
	<% @requests.all.each do |request| %>
	<div class="col-md-3">
		<div class="thumbnail">
      			<%= image_tag request.image.url %>
      			<div class="caption">
					<%= link_to request.title, request_path(request) %>
						

		
      			</div>
    		</div>
  		</div>
  	</div>
<% end %>




<br>

	
       			 