<br>
<br>
<div class="col-md-6 col-md-offset-3">
<div class="panel panel default">
<div class="panel panel-body">
<%= simple_form_for([@job, @job.reviews.build]) do |f| %>
<div id="rating-form">
<label>Rating</label>
<script>

	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});

</script>
<div class="form-group mb-3">

<%= f.input :comment %>
<center><%= f.button :submit %></center>
</div>
</div>
</div>
</div>
</div>

<% end %>

