<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>



<% if user_signed_in? %>

<% if @job.user_id == current_user.id %>

<%= link_to "Edit", edit_job_review_path(review.job, review) %>
<%= link_to "Delete", job_review_path(review.job, review),method: :delete, data: { confirm: "Are you sure?"} %>


<% end %>

<% end %>