<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">

<center><h2>Edit Review</h2></center>

<%= simple_form_for([@job, @review]) do |f| %>
<div id="rating-form">
<label>Rating</label>

</div>
  <%= f.input :comment %>
  <center><%= f.button :submit , class: "btn btn-primary" %></center>
<% end %>
</div>
</div>
</div>
</div>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>