<div class = "container">
<div class="col-md-10 col-md-offset-1">
<br>
<div class="panel panel-default">
<div class="panel-body">




<center>Terms Of Service </center>



<p>By signing up as a user on this website, you agree to our terms of service. We are not responsible for work that has not been completed by service providers, we are also not held accountable if the quality of the end product or service provided was not as advertised, and the service provider will be the one that's held 100% accountable. 


We have the right to delete accounts that we find that has violated our terms of service which are listed below</p>


<b><h3>Posts that would break our Terms of service</h3></b>

<li>No Pornography<li>
<li>No Prostitution/Escort Services</li>
<li>Money Laundering</li>
<li>No distribution or selling of Drugs</li>
<li>Listings that don't count as a service </li>
<li></li>

we will forward your account information to the necessary authorities if we find that you have broken a terms of service that has either harmed a user or stolen money from a user of kazii.



</div>
</div>
</div>
</div>

